<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改轮巡通道')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-pollingchannel-edit" th:object="${tbPollingchannel}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属轮巡ID：</label>
                <div class="col-sm-8">
                    <input name="pollingId" th:field="*{pollingId}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">通道物理ID：</label>
                <div class="col-sm-8">
                    <input name="chnId" th:field="*{chnId}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">顺序：</label>
                <div class="col-sm-8">
                    <input name="orderIndex" th:field="*{orderIndex}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">码流类型：</label>
                <div class="col-sm-8">
                    <select name="streamType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/pollingchannel";
        $("#form-pollingchannel-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-pollingchannel-edit').serialize());
            }
        }
    </script>
</body>
</html>